@mixin getters($i) {
  .p-#{$i} {
    padding: $i + 0px !important;
  }
  .pt-#{$i} {
    padding-top: $i + 0px !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + 0px !important;
  }
  .pr-#{$i} {
    padding-right: $i + 0px !important;
  }
  .pl-#{$i} {
    padding-left: $i + 0px !important;
  }

  [dir=rtl] {
    .pr-#{$i} {
      padding-left: $i + 0px !important;
    }

    .pl-#{$i} {
      padding-right: $i + 0px !important;
    }
  }

  .px-#{$i} {
    padding-left: $i + 0px !important;
    padding-right: $i + 0px !important;
  }
  .py-#{$i} {
    padding-top: $i + 0px !important;
    padding-bottom: $i + 0px !important;
  }
  .m-#{$i} {
    margin: $i + 0px !important;
  }
  .mt-#{$i} {
    margin-top: $i + 0px !important;
  }
  .mb-#{$i} {
    margin-bottom: $i + 0px !important;
  }
  .mr-#{$i} {
    margin-right: $i + 0px !important;
  }
  .ml-#{$i} {
    margin-left: $i + 0px !important;
  }
  [dir=rtl] {
    .mr-#{$i} {
      margin-left: $i + 0px !important;
    }

    .ml-#{$i} {
      margin-right: $i + 0px !important;
    }
  }
  .mx-#{$i} {
    margin-left: $i + 0px !important;
    margin-right: $i + 0px !important;
  }
  .my-#{$i} {
    margin-top: $i + 0px !important;
    margin-bottom: $i + 0px !important;
  }

}

@mixin sizes($i) {
  .w-#{$i}px {
    width: $i + 0px !important;
  }
  .w-#{$i} {
    width: $i + 0% !important;
  }
  .mw-#{$i}px {
    max-width: $i + 0px !important;
  }
  .mw-#{$i} {
    max-width: $i + 0% !important;
  }
  .h-#{$i}px {
    height: $i + 0px !important;
  }
  .h-#{$i} {
    height: $i + 0% !important;
  }
  .mh-#{$i}px {
    max-height: $i + 0px !important;
  }
  .mh-#{$i} {
    max-height: $i + 0% !important;
  }
}

[dir=rtl] body {
  direction: rtl;
  text-align: right;
}

@for $i from 0 through 100 {
  @include getters($i);
  @include sizes($i);
  $i: $i + 5;
}

@for $i from 100 through 500 {
  $i: $i + 10;
  @include sizes($i);
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.center {
  top: 50%;
  position: absolute;

}

[dir=ltr] .center{
  left: 50%;
  @include translate(-50%, -50%)
}
[dir=rtl] .center{
  right: 50%;
  @include translate(50%, -50%)
}

.x-center {
  left: 50%;
  position: absolute;
  @include translateX(-50%)
}

.y-center {
  top: 50%;
  position: absolute;
  @include translateY(-50%)
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

[dir=rtl] {
  .text-right {
    text-align: left;
  }

  .text-left {
    text-align: right;
  }

  .float-right {
    float: left;
  }

  .float-left {
    float: right;
  }
}

